/*
    anythingSlider v1.3
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSlider                         { width: 528px; height: 375px; float:left; position: relative; margin: 45px 30px 0px 30px; border-bottom: 1px #B3B3B3 solid; background: #fff url(/img/slides/slidebg.png) no-repeat; }
.anythingSlider .wrapper                { width: 520px; overflow: auto; height: 325px; position: absolute; top: 0; left: 4px; border-bottom: 3px solid #e0a213;  }

                                        /* Width below is max for Opera */
.anythingSlider .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; border-top: 3px solid #e0a213;  margin: 0; }
.anythingSlider .wrapper ul li          { display: block; float: left; padding: 0; height: 325px; width: 520px; margin: 0; }

.slideCaption							{ display: block; width: 520px; height: 325px; padding-top: 250px;  }
.slideCaption h1							{ font: 18px/22px Georgia, "Times New Roman", Times, serif; color: #fff; font-weight: normal; margin: 5px 10px 0 10px; }
.slideCaption p								{ font: 13px/18px Arial, Helvetica, sans-serif; color:#fff; font-weight: normal; margin: 0 10px; }
.slideCaption em							{ color: #fff; }
.slideCaption a, .slideCaption a:visited 	{ color: #e0a213; text-decoration: underline; font-weight:bold; }
.slideCaption a:hover					{ color: #FF0; text-decoration: underline; }
.anythingSlider .arrow                  { display: block; height: 200px; width: 67px; background: url(/img/slides/slider-arrows.png) no-repeat 0 0; text-indent: -9999px; position: absolute; top: -250px; cursor: pointer; }
.anythingSlider .forward                { background-position: 0 0; right: -47px; }
.anythingSlider .back                   { background-position: -67px 0; left: -67px; }
.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }

.thumbNav                               { position: relative; top: 325px; left: 10px; }
.thumbNav li                            { display: inline; }
.thumbNav a                             { color: black; font: 11px/18px Verdana, Geneva, sans-serif; display: inline-block; padding: 2px 8px; height: 18px; margin: 3px 5px 0 0; background: #c58b04 url(/img/cellshade.png) repeat-x; text-align: center; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
.thumbNav a:hover                       { background-image: none; }
.thumbNav a.cur                         { background: #e0a213; }

.start-stop                             { z-index:10; background: green; background-image: url(/img/cellshade.png); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 10px; top: 328px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; font: 11px/18px Verdana, Geneva, sans-serif; }
.start-stop.playing                     { background-color: #a53108; }
.start-stop:hover                       { background-image: none; color:#fff; }

/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }