/*

Theme Name: HCP Custom

Description: Based on the original WordPress theme (v1.5) by Dave Shea, modified to match the HCP template.

Version: 1.0

Author: Will Horton

Tags: human connectome project header, fixed width, two columns, widgets



Default WordPress by Dave Shea || http://mezzoblue.com

Modifications by Will Horton || http://nrg.wustl.edu

*/



.screen-reader-text {

     position: absolute;

     left: -1000em;

}



a, a:visited, a em, a:visited em {
	text-decoration: none;
	color: #0168db;
}
a:hover, a:hover em {
	text-decoration: underline;
	color: #006FCD;
}
a:active {
	text-decoration: underline;
	color: #e4efff;
}



a img {

	border: none;

}



acronym, abbr {

	border-bottom: 1px dashed #333;

}



acronym, abbr, span.caps {

	font-size: 90%;

	letter-spacing: .07em;

}



acronym, abbr {

	cursor: help;

}



blockquote {

	border-left: 5px solid #ccc;

	margin-left: 1.5em;

	padding-left: 5px;

}



body {
	background: #dddddd; 
/*	background: #bbbbbb url(/img/body-bg-v2.jpg) no-repeat center 60px fixed; */
	margin: 0;
}

#site_container {
	background-color: #fff;
	box-shadow: 0px 2px 6px 6px #c0c0c0; 
/*	margin: 0pt auto; */
	margin:0 auto;
	position: relative; 
	width: 1024px; 
}



cite {

	font-size: 90%;

	font-style: normal;

}



/* h2 {

	border-bottom: 1px dotted #ccc;

	font: 95% Arial, Helvetica, sans-serif; 

	letter-spacing: 0.2em;

	margin: 15px 0 2px 0;

	padding-bottom: 2px;

} */



h3 {

	font-family: Arial, Helvetica, sans-serif; 

	margin-top: 0;

}



ol#comments li p {

	font-size: 100%;

}



.feedback {

	font: 90%/175% Arial, Helvetica, sans-serif; 

	letter-spacing: -1px;

}



/* classes used by the_meta() */

ul.post-meta {

	list-style: none;

}



ul.post-meta span.post-meta-key {

	font-weight: bold;

}



.credit {

	background: #90a090;

	border-top: 3px double #aba;

	color: #fff;

	font-size: 11px;

	margin: 10px 0 0 0;

	padding: 3px;

	text-align: center;

}



.credit a:link, .credit a:hover {

	color: #fff;

}



.feedback {

	color: #ccc;

	text-align: right;

	clear: both;

}



.date {

	color: #534741;

	font: 85% Arial, Helvetica, sans-serif; 

	margin: 0 0 6px 0;

	padding-left: 3px;

	border-left: 18px #dbdbdb solid;

} 

.meta {

	font-size: .75em;

	border-top: 1px #b9b9b9 dotted; 

	padding: 2px 4px; 

}



.meta li, ul.post-meta li {

	display: inline;

}



.meta ul {

	display: inline;

	list-style: none;

	margin: 0;

	padding: 0;

}



.meta, .meta a {

	color: #534741;

	font: 10px/13px Arial, Helvetica, sans-serif; 

	letter-spacing: 0;

}



.post {

	margin-bottom: 45px;

	border-bottom: 1px #b9b9b9 dotted; 

}



.storycontent {

	margin: 15px 0 0 0;

}



.storytitle {

	margin: 0;

}



.storytitle a, .storytitle a:visited {

	text-decoration: none;

	color: #534741;

}

.storytitle a:hover {

	color: #000;

}



#commentform #author, #commentform #email, #commentform #url, #commentform textarea {

	background: #fff;

	border: 1px solid #333;

	padding: .2em;

}



#commentform textarea {

	width: 100%;

}



#commentlist li ul {

	border-left: 1px solid #ddd;

	font-size: 110%;

	list-style-type: none;

}



#commentlist li .avatar {

	float: right;

	margin-right: 25px;

	border: 1px dotted #ccc;

	padding: 2px;

}



/* FROM HCPV3 */



	/* NAVIGATION */

#header {
	height: 130px;
	width: 1024px;
	margin: 0;
}
#topnav {
	height: 45px; 
	width: 1009px;
	padding-left: 15px;
	font: 14px/18px Arial, Helvetica, sans-serif; 
	color: #fff;
	background: url(/img/nav-bg.jpg) no-repeat;
	z-index: 2; 
}
#topnav a, #nav a:visited, #nav a:hover, #nav a:active {
	display: block; 
	padding: 12px 13px 15px 13px;
	color: #000000;
}
#topnav a:hover {
	text-decoration: none;
	background-color: #bbe0ff;
}
#topnav a:active {
	text-decoration: none;
	background-color: #0168db;
	color: white;
}

#nav li li a {
	display: block;
}

#topnav ul {
	z-index: 2; 
	padding: 0;
	margin: 0;
	list-style: none;
}
#topnav li {
	position: relative;
	float: left;
	z-index: 2; 
}

#topnav li ul {
	display: none;
	position: absolute; 
	top: 45px;
	left: 0;
	z-index: 2; 
	background-color:  #fff;
	box-shadow: 1px 3px 5px 1px #999;
}
#topnav li > ul {
	top: auto;
	left: auto;  
	z-index: 2; 
} 

#nav li ul li {
	display: block; 
	clear:left;
	background-color: #f3f3f3;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #d7d7d7;
	border-right: 1px solid #fff;
	width: 180px;
	z-index: 2; 
} 


#nav li:hover ul, #nav li.over ul {
	display: block;
}

/* SEARCH CUSTOMIZATIONS - more located in google-cse-customizations.css */

#search {
	position: absolute; top: 195px; right: 0;
	width: 300px;
	z-index: 999;
}

	/* BREADCRUMBS */

	

	#breadcrumbs {

		background: #ffffff;

		width: 1024px;

		margin: 0;

	}

	#breadcrumbs p {

		font: 11px/11px Arial, Helvetica, sans-serif;

		color: #534741;

		padding: 9px 0 9px 30px;

	}

	

	/* CONTENT */

	

	#content p, #content li {

		font: 13px/18px Arial, Helvetica, sans-serif;

		margin-bottom: 17px;

	}

	#content h1 {

		font: 32px/38px Arial, Helvetica, sans-serif;

		margin: 0 0 24px 0;

		padding: 0;

	}

	.attendee {

		float:left; font:11px/15px verdana; width:80px; height:150px; margin:0px 20px 20px 0;

	}

	

	.nopic {

		margin-top:100px !important; height:50px !important; 

	}

	

	.inset {

		float: right; 

		width: 200px; 

		background: #dedede;

		border: 1px #ccc dotted;

		padding: 5px;

		margin: 0 0 10px 10px;

	}

	#content .inset, #content .inset p, #content .inset ul, #content .inset li {

		font: 11px/14px Verdana, Geneva, sans-serif;

		margin-bottom: 0;

	}

	.inset img {

		float:left; 

		margin-right: 10px;

		border: none;

	}

	

	#content ul {

		list-style-type:disc; 

		margin-left: 2em; 

	}

	#content ol {

		list-style-type:decimal; 

		margin-left: 2em;

	}

	

	/* SIDEBAR - PLACEMENT */

	

	#sidebar-content {

		padding: 10px 0px;

	}

	.sidebox {
		background-color: #f0f0f0;
		padding: 10px 15px; 
		margin: 15px 0 0px 0;
		font: 11px/18px Arial, Helvetica, sans-serif;
	}
	.sidebox h2, .sidebox h4 { 
		background: url(/img/sidebox-h2-bg.png) left center repeat-x;
		border-bottom: 1px solid #ccc;
		font: 15px/18px Arial, Helvetica, sans-serif bold; 
		font-weight: bold;
		margin: -10px -15px 15px -15px;
		padding: 10px 15px;
	}

	

	/* FOOTER */



	#footer {

		clear: both;

		width: 1024px;

	/*	background: #ffffff url(/img/footer-bg.png) no-repeat top; */

		background: #ffffff url(/img/footer-bg-slice.png) repeat-x top;

		font: 11px/14px Arial, Helvetica, sans-serif;

		color: #808080;

		padding: 15px 0 2px 0;

	}

	#footer p {	

		position: relative;

		left: 30px;

		width: 960px;

		padding: 0 0 13px 0; 

	}



#rap {

	background: #fff;

	width: 1024px;

	margin: 0;

}



#content {

	width: 530px;

	float: left; 

	display: inline;

	padding: 30px;

}



/* SIDEBAR - MENU ITEMS */ 



#menu {

	width: 265px;

	float: right; 

	display: inline; 

	margin: 10px 0;

	padding: 66px 36px 30px 0px;

}



#menu form {

	margin: 0 0 0 3px;

}



#menu input#s {

	width: 65%;

	background: #eee;

	border: 1px solid #999;

	padding: 3px;

	color: #666;

	font: 11px/14px Verdana, Geneva, sans-serif;

}



#menu ul {

	color: #534741;

	list-style-type: none;

	margin: 0 0 9px 0;

	padding-left: 3px;

}



#menu ul li {

	font: 95%  Arial, Helvetica, sans-serif;

	margin-top: 10px;

	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/

	border-bottom: 1px #b3b3b3 solid;

}



#menu ul ul {

	font-variant: normal;

	font-weight: normal;

	line-height: 100%;

	list-style-type: disc;

	margin: 6px 0;

	padding: 0;

	text-align: left;

}



#menu ul ul li {

	border: 0;

	font: normal normal 11px/18px Arial, Helvetica, sans-serif;

	letter-spacing: 0;

	padding: 0 0 0px 3px;

	margin: 0 0 0 21px;

}

/*

#menu ul ul li a {

	color: #000;

	text-decoration: none;

} 



#menu ul ul li a:hover {

	border-bottom: 1px solid #809080;

}

*/

#menu ul ul ul.children {

	font-size: 142%;

	padding-left: 4px;

}



#wp-calendar {

	border: 1px solid #ddd;

	empty-cells: show;

	font-size: 14px;

	margin: 0;

	width: 90%;

}



#wp-calendar #next a {

	padding-right: 10px;

	text-align: right;

}



#wp-calendar #prev a {

	padding-left: 10px;

	text-align: left;

}



#wp-calendar a {

	display: block;

	text-decoration: none;

}



#wp-calendar a:hover {

	background: #e0e6e0;

	color: #333;

}



#wp-calendar caption {

	color: #534741;

	font-size: 16px;

	text-align: left;

}



#wp-calendar td {

	color: #ccc;

	font: normal 11px Arial, Helvetica, sans-serif;

	letter-spacing: normal;

	padding: 2px 0;

	text-align: center;

}



#wp-calendar td.pad:hover {

	background: #fff;

}



#wp-calendar td:hover, #wp-calendar #today {

	background: #eee;

	color: #bbb;

}



#wp-calendar th {

	font-style: normal;

	text-transform: capitalize;

}



/* Captions & aligment */

.aligncenter,

div.aligncenter {

	display: block;

	margin-left: auto;

	margin-right: auto;

}



.alignleft {

	float: left;

	margin:0 1em 1em 0;

}



.alignright {

	float: right;

	margin:0 0 1em 1em;

}



.wp-caption {

	border: 1px solid #ddd;

	text-align: center;

	background-color: #f3f3f3;

	padding-top: 4px;

	margin-bottom: 1em;

	-moz-border-radius: 3px;

	-khtml-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

}



.wp-caption img {

	margin: 0;

	padding: 0;

	border: 0 none;

}



.wp-caption p.wp-caption-text {

	font: 11px/15px Verdana, Geneva, sans-serif !important;

	padding: 5px 4px;

	margin: 0 !important;

	color: #808080; 

	text-align:left;

}

/* End captions & aligment */





/* NIH Banner */



#NIH_header2						{ 	background:url(/img/NIH-header.jpg) right top no-repeat #242c51; height:64px; padding:0 24px; font:18px/18px Arial, Helvetica, sans-serif; }

#NIH_header2 span					{	padding:24px 0 0 12px; display:block; }

#NIH_header2 a						{	color:#b4cfff; text-decoration:none; }

#NIH_header2 a:hover				{	text-decoration: underline; }